[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pipenv = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
pyrebase4 = "*"

[dev-packages]

[requires]
python_version = "3.6"
